/* .menu {
  position: absolute;
  top: 3%;
  right: 3%;
} */

.window {
  width: 100%;
  height: 100vh;
}

.witch {
  position: absolute;
  left: 50%;
  bottom: 400px;
  transform: translate(-50%, 0);
  width: 350px;
  z-index: 2;
}

.drop {
  position: absolute;
  left: 60%;
  transform: translate(-50%, 0);
  bottom: 500px;
  z-index: 1;
}

.jar {
  position: absolute;
  left: 50%;
  bottom: 210px;
  transform: translate(-50%, 0);
  width: 550px;
  height: 300px;
  z-index: 100;
}

.footerDiv {
  position: absolute;
  bottom: 50px;
  height: 100px;
  width: 100%;
}

.nonDisplay {
  display: none;
}

.display {
  display: block;
}

.walkLefttoRight {
  position: absolute;
  width: 150px;
  height: 120px;
  bottom: 150px;
  background-image: url("../images/yywWalk.png");
  background-size: 100% 100%;
  z-index: 105;
  transition: transform 30s;
  transform: translateX(calc(100vw - 150px));
  animation-iteration-count: infinite;
  /* transition-timing-function: steps(60, end); */
}

.walkRighttoLeft {
  /* animation: walkRighttoLeftAnimation 60s infinite steps(60); */
  /* -webkit-transform-origin: 100% 50%; */
  position: absolute;
  width: 150px;
  height: 120px;
  bottom: 150px;
  background-image: url("../images/yywWalkReverse.png");
  background-size: 100% 100%;
  z-index: 105;
  transition: transform 30s;
  transform: translateX(0px);
  animation-iteration-count: infinite;
}
