.link {
  float: right;
  margin: 10px;
  line-height: 1.3;
  border-bottom: solid transparent 5px;
  text-decoration: none;
  color: #cccccc;
  transition: all 0.3s ease-out;
}
.slider {
  position: absolute;
  display: block;
  left: 0;
  top: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: #ffffff;
  width: 0%;
  transition: width 0.3s ease;
}

.link:hover .slider {
  width: 100%;
  color: #ffffff;
}
