.links {
  text-decoration: none;
  color: #cccccc;
  position: relative;
  transition: all 0.3s ease-out;
  float: right;
  margin: 10px;
}
.slider {
  position: absolute;
  display: block;
  left: 0;
  top: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: #ffffff;
  width: 0%;
  transition: width 0.3s ease;
}

.links:hover .slider {
  width: 100%;
  color: #ffffff;
}
